<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Track Hormonal Changes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- hormone input page heres -->
     <nav class="navbar">
        <div class="nav-brand">ReMindHer</div>
        <button class="nav-toggle" aria-label="Toggle navigation">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>
        <ul class="nav-links">
            <li><a href="/" class="active">Home</a></li>
            <li><a href="/pcod">PCOD Checker</a></li>
            <li><a href="/menstrual_tracker">Menstrual Tracker</a></li>
            <li><a href="/doctors">Doctor</a></li>
            <li><a href="/hormone_tracker">Hormone Tracker</a></li>
            <li><a href="/learn">Learning Section</a></li>
            {% if session.logged_in %}
                <li><a href="/profile"><i class="fa-solid fa-address-card"></i></a></li>
            {% else %}
                <li><a href="/signin">Sign in</a></li>
                <li><a href="/login">Log in</a></li>
            {% endif %}
            
            <li><button class="voice-btn" aria-label="Voice Assistance">🎤 Voice</button></li>
        </ul>
    </nav>
</body>
</html>